.main {
  height: auto;
}

.container {
  background-image: url("../../assets/Home/Background_main.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 76.35rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info_pop {
  width: 45rem;
  min-height: 26rem;
  margin-right: 5rem;

  background-color: #fff3e3;
  border-radius: 10px;
}

.content {
  height: 100%;
  padding: 5rem 3rem 2rem 3rem;
}

.subtitle {
  color: var(--gray-black);
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 1.4rem;
}

.content .title {
  color: var(--brown);
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 4rem;
}

.text {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--gray-black);
  font-weight: 500;
}

.buy_now {
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  background-color: var(--brown);
  padding: 1.5rem 4rem;

  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

.browse {
  margin: 5rem 12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.browse .title {
  font-size: 2.8rem;
  font-weight: bold;
}

.browse .desc {
  margin-top: 1rem;
  color: var(--gray);
  font-size: 1.6rem;
}

.wrapper_browse {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.our_products {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our_products .title {
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--gray-sec);
}

.our_products .wrapper_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto 0;
}

.our_products .show_more {
  margin-top: 3rem;
  color: var(--brown);
  padding: 1rem 7rem;
  text-decoration: none;
  border: 1px solid var(--brown);
  font-size: 1.4rem;
}
