/* superior | direita | inferior | esquerda */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 6rem 2rem 4rem;
  background-color: var(--white);
}

.navbar ul {
  display: flex;
  gap: 7.5rem;
}

.navbar ul li a {
  font-size: 1.6rem;

  color: var(--black);
  text-decoration: none;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 4.5rem;
}

.icons img {
  width: 2.4rem;
  height: 2.4rem;
}

.icons img:hover {
  cursor: pointer;
}
